.quantity-cart {
  display: flex;
  align-items: center;
}

.quantity-cart button {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 16px;
}

.quantity-cart span {
  padding: 0 10px;
  font-size: 18px;
}

/* .add-to-cart {
  background-color: #ff7d1a;
  color: black;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  
} */
.add-to-cart:hover {
  background-color: #e66a00;
} 

.add-to-cart {
  background-color: #ff7d1a;
  color: white;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 25px; 
  font-weight: bold;
  font-size: 16px;
   transition: background-color 0.3s ease; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
}



/* .quantity-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #f8f8f8; 
  padding: 5px 10px;
  border-radius: 12px;
}

.quantity-cart button {
  padding: 0;
  width: 40px; 
  height: 40px;
  border: 1px solid #ddd; 
  background-color: #ffffff;
  cursor: pointer;
  font-size: 24px; 
  border-radius: 8px;
  color: #ff7d1a; 
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-cart span {
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.add-to-cart {
  background-color: #ff7d1a;
  color: white;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 25px; 
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

.add-to-cart:hover {
  background-color: #e66a00;
} */













  